<%= form_for [@location, @address] do |f| %>
  <div class='field margin'>
    <div class='card'>
      <%= f.label :street %>
      <%= f.text_field :street %>
    </div>

    <div class='card'>
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>

    <div class='card'>
      <%= f.label :state %>
      <%= f.text_field :state %>
    </div>

    <div class='card'>
      <%= f.label :zip %>
      <%= f.text_field :zip %>
    </div>
  </div>

  <%= f.submit 'Submit', class: 'btn orange white-text margin'%>
<% end %>
